/* General Page Styles  */

body { 
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  background-color:#3a4e3e;
  color:black; 
}

h2 {
  color: #172921; 
  text-align: center;
  padding: 5px;
}

h3 {
  color: #054c2c;
  font-size:1em; 
  text-align: center;
  padding: 5px; 
}

/* Quiz App Styling */

.input {
  background-color: #d0eddc; 
  color: #000000; 
  border: 1px solid #fff;
  padding: 5px; 
}

.questionnaire {
  display: block; 
  margin: 20px auto; 
  padding: 10px;
  background-color: #47c378; 
  color: #02270d; 
  text-align: center; 
  border: 1px solid #ffff00;
  border-radius: 10px; 
  width: 80%; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

/* In div error styling */

.error { 
  display: block; 
  margin: 20px auto; 
  padding: 10px;
  background-color: #ccc910; 
  color: #000000; 
  border-radius: 5px;
  width: 80%; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  text-align: center; 
}

button {
  background-color: #3a644a; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor:alias; 
  font-size: 16px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

button:hover {
  background-color: #93e690b5;
  color: #000; 
}

button:active {
  background-color: #145717; 
  color: #fff;
  cursor:crosshair; 
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2); 
}

/* In modal error styling  */

.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: rgb(255, 204, 0);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  cursor:help; 
}

.return {
  font-size:0.7rem;
}